
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-primary: mat.define-palette(mat.$indigo-palette);
$web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-theme: mat.define-light-theme((
  color: (
    primary: $web-primary,
    accent: $web-accent,
    warn: $web-warn,
  )
));

$my-dark-primary-text: #000000;
$my-light-primary-text: #ffffff;

$my-primary-palette: (
  50: #fff8e0,
  100: #ffedb0,
  200: #ffe17c,
  300: #ffd743,
  400: #ffcc00,
  500: #ffc300,
  600: #ffb500,
  700: #ffa100,
  800: #ff8f00,
  900: #ff6d00,
  contrast: (
    50: $my-dark-primary-text,
    100: $my-dark-primary-text,
    200: $my-dark-primary-text,
    300: $my-dark-primary-text,
    400: $my-dark-primary-text,
    500: $my-dark-primary-text,
    600: $my-dark-primary-text,
    700: $my-dark-primary-text,
    800: $my-dark-primary-text,
    900: $my-dark-primary-text
  )
);

$my-accent-palette: (
  50: #ede7ff,
  100: #d0c5ff,
  200: #af9eff,
  300: #8976ff,
  400: #6556ff,
  500: #2f37ff,
  600: #0033ff,
  700: #002cf7,
  800: #0027f1,
  900: #001bed,
  contrast: (
    50: $my-light-primary-text,
    100: $my-light-primary-text,
    200: $my-light-primary-text,
    300: $my-light-primary-text,
    400: $my-light-primary-text,
    500: $my-light-primary-text,
    600: $my-light-primary-text,
    700: $my-light-primary-text,
    800: $my-light-primary-text,
    900: $my-light-primary-text
  )
);

$my-primary: mat.define-palette($my-primary-palette, 400);
$my-accent: mat.define-palette($my-accent-palette, 400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button * { text-transform: uppercase; }
