<div class="center">
  <button mat-flat-button color="primary" (click)="fileInput.click()">
    <mat-icon>file_open</mat-icon>
    Select file
    <input #fileInput type="file" (change)="onFileSelect($event)" style="display: none;">
  </button>
  <span id="filename">{{ filename }}</span>
  <button mat-stroked-button color="accent" (click)="uploadFile()">
    <mat-icon>upload</mat-icon>
    Upload
  </button>
  <mat-divider></mat-divider>
  <mat-progress-bar
  *ngIf="0 < uploadProgress && uploadProgress < 100"
  color="primary"
  mode="determinate"
  [value]="uploadProgress"></mat-progress-bar>
  <ng-container *ngIf="link">
    <div>
      <a [href]="link">{{ uploadedFileName }}</a>
      <button mat-icon-button color="accent" (click)="copyLink()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
